﻿@{
    ViewData["Title"] = "Master Transaksi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Additional : responsive datatables.net cdn css------------------------------------------------------------------------------*@
@*<link type="text/css" rel="stylesheet" href="~/datatables/css/dataTables.bootstrap4.min.css" />*@
<link type="text/css" rel="stylesheet" href="~/css/datatables_style.css" />
<link type="text/css" rel="stylesheet" href="~/css/css_button_custome.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
@*----------------------------------------------------------------------------------------------------------------------------*@

<style type="text/css">
    /*css-button-custome_details-----------------------------------------------------------*/
    .css-button-custome_details {
        max-height: 30px !important;
        height: 30px !important;
        color: #000000;
        font-size: 13px;
        border-radius: 5px;
        border: solid 0px #179dca;
        text-shadow: 1px 1px 0px #a3a3a3;
        box-shadow: 0px 0px 6px 0px #616174;
        text-decoration: none !important;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        font-family: Arial;
        background: linear-gradient(180deg, #00bfff 10%, #179dca 100%);
        display: inline-flex;
        align-items: center;
        padding: 0;
    }

        .css-button-custome_details:hover {
            background: linear-gradient(180deg, #179dca 10%, #00bfff 100%);
        }

    .css-button-custome_details-text {
        position: relative;
        padding: 10px 18px;
    }

    .css-button-custome_details-icon {
        position: relative;
        border-right: 1px solid #ffffff29;
        box-shadow: inset rgb(0 0 0 / 14%) -1px 0 0;
        padding: 10px 10px;
    }

        .css-button-custome_details-icon > i {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
        }
</style>
@*----------------------------------------------------------------------------------------------------------------------------*@

<body>
    <h1 style="text-align:center !important">Transaksi Pembayaran</h1>
    <br />
    <br />

    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="md-form">
                    <a style="text-decoration:none !important; margin-bottom: 15px !important; width: 100% !important;" class="css-button-custome_back" id="ButtonBackToDashboard" ClientIDMode="Static" asp-area="" asp-controller="Dashboard" asp-action="Dashboard">
                        <span class="css-button-custome_back-icon">
                            <i class="fa fa-arrow-left" style="margin-top: -5px !important;"></i>
                        </span>
                        <text style="text-align: center !important;margin: auto;">Back</text>
                    </a>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="md-form">
                    <a style="text-decoration:none !important; margin-bottom: 15px !important; width: 100% !important;" class="css-button-custome_cancel" id="ButtonCancel" ClientIDMode="Static" asp-area="" asp-controller="MasterMenu" asp-action="MasterMenu">
                        <span class="css-button-custome_cancel-icon" style="margin-top: -5px !important;">
                            <i class="fa fa-remove" style="margin-top: -5px !important;"></i>
                        </span>
                        <span class="css-button-custome_cancel-text" style="margin-left: auto !important; margin-right: auto !important;">
                            <span>Cancel</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <hr style="border: 1.5px solid black !important;margin-top: 0px;" />
    </div>
</body>

@*----------------------------------------------------------------------------------------------------------------------------*@

@section Scripts
{
    @*Additional : responsive datatables.net cdn script---------------------------------------------------------------------------*@
    @*<script type="text/javascript" src="~/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/datatables/js/dataTables.bootstrap4.min.js"></script>*@
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/responsive.bootstrap4.min.js"></script>
    @*----------------------------------------------------------------------------------------------------------------------------*@
}