﻿body {
background-color: white;
}

#loginbox {
margin-top: 30px;
}

#loginbox > div:first-child {
    padding-bottom: 10px;
}

.iconmelon {
display: block;
margin: auto;
}

#form > div {
margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {
background-color: transparent;
}

.panel-body {
padding-top: 30px;
background-color: rgba(2555,255,255,.3);
}

#particles {
width: 100%;
height: 100%;
overflow: hidden;
top: 0;
bottom: 0;
left: 0;
right: 0;
position: absolute;
z-index: -2;
}

.iconmelon,
.im {
position: relative;
width: 150px;
height: 150px;
display: block;
fill: #525151;
}

.iconmelon:after,
.im:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
