﻿@{
    ViewData["Title"] = "Master Pesanan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Additional : responsive datatables.net cdn css------------------------------------------------------------------------------*@
@*<link type="text/css" rel="stylesheet" href="~/datatables/css/dataTables.bootstrap4.min.css" />*@
<link type="text/css" rel="stylesheet" href="~/css/datatables_style.css" />
<link type="text/css" rel="stylesheet" href="~/css/css_button_custome.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

<style type="text/css">
/*css-button-custome_details-----------------------------------------------------------*/
.css-button-custome_details 
{
    max-height: 30px !important;
    height: 30px !important;
    color: #000000;
    font-size: 13px;
    border-radius: 5px;
    border: solid 0px #179dca;
    text-shadow: 1px 1px 0px #a3a3a3;
    box-shadow: 0px 0px 6px 0px #616174;
    text-decoration: none !important;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-family: Arial;
    background: linear-gradient(180deg, #00bfff 10%, #179dca 100%);
    display: inline-flex;
    align-items: center;
    padding: 0;
}

.css-button-custome_details:hover 
{
    background: linear-gradient(180deg, #179dca 10%, #00bfff 100%);
}

.css-button-custome_details-text 
{
position: relative;
padding: 10px 18px;
}

.css-button-custome_details-icon 
{
position: relative;
border-right: 1px solid #ffffff29;
box-shadow: inset rgb(0 0 0 / 14%) -1px 0 0;
padding: 10px 10px;
}

.css-button-custome_details-icon > i 
{
position: relative;
display: inline-block;
vertical-align: middle;
font-size: 18px;
}
</style>
@*----------------------------------------------------------------------------------------------------------------------------*@

<body>
    <h1 style="text-align:center !important">Pesanan</h1>
    <br />
    <br />

    <!-- Content Master Pesanan & DataTables -->
    <div class="container">

        <div class="row">
            <div class="col-sm-2">
                <div class="md-form">
                    <a style="text-decoration:none !important; margin-bottom: 15px !important; width: 100% !important;" class="css-button-custome_back" id="ButtonBackToDashboard" ClientIDMode="Static" asp-area="" asp-controller="Dashboard" asp-action="Dashboard">
                        <span class="css-button-custome_back-icon">
                            <i class="fa fa-arrow-left" style="margin-top: -5px !important;"></i>
                        </span>
                        <text style="text-align: center !important;margin: auto;">Back</text>
                    </a>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="md-form">
                    <a style="text-decoration:none !important; margin-bottom: 15px !important; width: 100% !important;" class="css-button-custome_cancel" id="ButtonCancel" ClientIDMode="Static" asp-area="" asp-controller="MasterMenu" asp-action="MasterMenu">
                        <span class="css-button-custome_cancel-icon" style="margin-top: -5px !important;">
                            <i class="fa fa-remove" style="margin-top: -5px !important;"></i>
                        </span>
                        <span class="css-button-custome_cancel-text" style="margin-left: auto !important; margin-right: auto !important;">
                            <span>Cancel</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <a style="text-decoration: none !important; max-width: 100% !important; width: 100% !important; margin-bottom: 15px !important;" class="css-button-custome_dashboard" id="ButtonAddData" ClientIDMode="Static" asp-area="" asp-controller="" asp-action="">
                        <span class="css-button-custome_dashboard-icon"><i class="fa fa-plus" style="margin-top: -5px !important;"></i></span>
                        <text style="text-align: center !important;margin: auto;">Add</text>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-form">
                    <a style="text-decoration: none !important; max-width: 100% !important; width: 100% !important; margin-bottom: 15px !important;" class="css-button-custome_dashboard" id="ButtonUpdateData" ClientIDMode="Static" asp-area="" asp-controller="" asp-action="" style="text-decoration:none !important">
                        <span class="css-button-custome_dashboard-icon"><i class="fa fa-exchange" style="margin-top: -5px !important;"></i></span>
                        <text style="text-align: center !important;margin: auto;">Update</text>
                    </a>
                </div>
            </div>
        </div>

        <hr style="border: 1.5px solid black !important;margin-top: 0px;" />
        <form>
            @*<div class="form-group">
            <label for="TextboxId">Id</label>
            <input type="number" class="form-control" id="TextboxId" ClientIDMode="Static" placeholder="" disabled>
            </div>*@
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form">
                        <label for="TextboxJenisMenu">Jenis Menu</label>
                        <select class="form-control" id="TextboxJenisMenu" ClientIDMode="Static" name="selected" placeholder="Pilih" onchange="">
                            <option value="" hidden="hidden"></option>
                            <option value="Drink">Drink</option>
                            <option value="Food">Food</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="md-form">
                        <label for="TextboxKodePemesan">Kode Pemesan</label>
                        <input type="text" class="form-control" id="TextboxKodePemesan" ClientIDMode="Static" placeholder="" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="md-form">
                        <label for="TextboxNamaPemesan">Nama Pemesan</label>
                        <input type="text" class="form-control" id="TextboxNamaPemesan" ClientIDMode="Static" placeholder="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="md-form">
                        <label for="TextboxKodeMenu">Kode Menu</label>
                        <input type="text" class="form-control" id="TextboxKodeMenu" ClientIDMode="Static" placeholder="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="md-form">
                        <label for="TextboxNamaMenu">Nama Menu</label>
                        <input type="text" class="form-control" id="TextboxNamaMenu" ClientIDMode="Static" placeholder="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="md-form">
                        <label for="TextboxJumlahPesanan">Jumlah Pesanan</label>
                        <input type="number" class="form-control" id="TextboxJumlahPesanan" ClientIDMode="Static" placeholder="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="md-form">
                        <label for="TextboxHargaSatuan">Harga Satuan</label>
                        <input type="text" class="form-control" id="TextboxHargaSatuan" ClientIDMode="Static" placeholder="" disabled>
                    </div>
                </div>
            </div>
        </form>

        <br />
        <hr style="border: 1.5px solid black !important;" />
        <br />

        <div class="table-responsive">
            <div style="width:100%; margin:0 auto;">
                <table id="DataTablesPesanan" ClientIDMode="Static" class="table table-striped table-bordered dt-responsive nowrap dataTables-fontstyle" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                        @* 0 *@ @* <th class="dataTables-fontstyle"><input type="checkbox" name="HeaderAllCheckbox" class="SelectedAllCheckbox" id="HeaderAllCheckbox" ClientIDMode="Static" style="cursor:pointer !important"></th> *@
                        @* 1 *@ <th class="dataTables-fontstyle" style="width: 5% !important;">Id</th>
                        @* 2 *@ <th class="dataTables-fontstyle">Kode Transaksi</th>
                        @* 3 *@ <th class="dataTables-fontstyle">Kode Pemesan</th>
                        @* 4 *@ <th class="dataTables-fontstyle">Nama Pemesan</th>
                        @* 5 *@ <th class="dataTables-fontstyle">Jenis Pesanan</th>
                        @* 6 *@ <th class="dataTables-fontstyle">Kode Menu</th>
                        @* 7 *@ <th class="dataTables-fontstyle">Nama Menu</th>
                        @* 8 *@ <th class="dataTables-fontstyle">Jumlah Pesanan</th>
                        @* 9 *@ <th class="dataTables-fontstyle">Harga Satuan</th>
                        @* 10 *@ <th class="dataTables-fontstyle" style="width: 10% !important;">Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <!-- Popup Detail Item -->
    <div class="container">
        <div class="modal fade" id="PopUpDetailItemPesanan" ClientIDMode="Static" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <label for="LabelDetail" style="text-align: center !important;margin: auto;width: 100% !important;"><b>Detail Pesanan</b></label>
                        <button type="button" onclick="ClosePopUpModal();" class="close" data-dismiss="modal"><span aria-hidden="true" style="color: red;">x</span><span class="sr-only">Close</span></button>
                    </div>
                    <div class="modal-body">
                        @*<form>*@
                        @* <div class="form-group">
                            <label for="PopUp_TextboxId">Id</label>
                            <input type="number" class="form-control" id="PopUp_TextboxId" ClientIDMode="Static" placeholder="" disabled>
                        </div>
                        <div class="form-group">
                            <label for="PopUp_TextboxKodeTransaksi">Kode Transaksi</label>
                            <input type="text" class="form-control" id="PopUp_TextboxKodeTransaksi" ClientIDMode="Static" placeholder="" disabled>
                        </div> *@
                        <div class="form-group">
                            <label for="PopUp_TextboxKodePemesan">Kode Pemesan</label>
                            <input type="text" class="form-control" id="PopUp_TextboxKodePemesan" ClientIDMode="Static" placeholder="" disabled>
                        </div>
                        <div class="form-group">
                            <label for="PopUp_TextboxNamaPemesan">Nama Pemesan</label>
                            <input type="text" class="form-control" id="PopUp_TextboxNamaPemesan" ClientIDMode="Static" placeholder="" disabled>
                        </div>
                        <div class="form-group">
                            <label for="PopUp_TextboxJenisPesanan">Jenis Pesanan</label>
                            <input type="text" class="form-control" id="PopUp_TextboxJenisPesanan" ClientIDMode="Static" placeholder="" disabled>
                        </div>
                        <div class="form-group">
                            <label for="PopUp_TextboxKodeMenu">Kode Menu</label>
                            <input type="text" class="form-control" id="PopUp_TextboxKodeMenu" ClientIDMode="Static" placeholder="" disabled>
                        </div>
                        <div class="form-group">
                            <label for="PopUp_TextboxNamaMenu">Nama Menu</label>
                            <input type="text" class="form-control" id="PopUp_TextboxNamaMenu" ClientIDMode="Static" placeholder="" disabled>
                        </div>
                        <div class="form-group">
                            <label for="PopUp_TextboxJumlahPesanan">Jumlah Pesanan</label>
                            <input type="text" class="form-control" id="PopUp_TextboxJumlahPesanan" ClientIDMode="Static" placeholder="" disabled>
                        </div>
                        <div class="form-group">
                            <label for="PopUp_TextboxHargaSatuan">Harga Satuan</label>
                            <input type="text" class="form-control" id="PopUp_TextboxHargaSatuan" ClientIDMode="Static" placeholder="" disabled>
                        </div>
                        @*<div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" id="exampleInputFile">
                        <p class="help-block">Example block-level help text here.</p>
                        </div>
                        <div class="checkbox">
                        <label>
                        <input type="checkbox"> Check me out
                        </label>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>*@
                        @*</form>*@
                        <hr />
                        <div class="form-group">
                            <button type="button" onclick="ClosePopUpModal();" class="btn btn-danger dataTables-buttonstyle" data-dismiss="modal" role="button" style="width:100% !important;height: 35px !important;margin-bottom: -15px !important;font-size: 14px !important;">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts
{
    @*Additional : responsive datatables.net cdn script---------------------------------------------------------------------------*@
    @* <script type="text/javascript" src="~/datatables/js/dataTables.bootstrap4.min.js"></script> *@
    @* <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> *@
    @*  <script type="text/javascript" src="~/datatables/js/dataTablesPesanan.js"></script> *@
    @* <script type="text/javascript" src="~/datatables/js/jquery.dataTables.min.js"></script> *@
    @*----------------------------------------------------------------------------------------------------------------------------*@
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/responsive.bootstrap4.min.js"></script>
    @*----------------------------------------------------------------------------------------------------------------------------*@

    <script type="text/javascript">
        $(document).ready(function () {
            var DT = $("#DataTablesPesanan").DataTable({
                //"scrollY": 100,
                //"scrollX": true,
                //"scrollCollapse": true,
                //"scrollResize": true,
                //"responsive": true,
                //"processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": true, // for disable multiple column at once
                "fixedHeader": true, // this is fixed header
                "pagingType": "full_numbers", // this is for paging type
                "lengthChange": true, // this is for length change
                "lengthMenu":  // this is for length dropdown
                [
                    [5, 10, 25, 50, 100, 1000],
                    [5, 10, 25, 50, 100, 1000],
                ],
                "ajax":
                {
                    "url": "/MasterPesanan/LoadData",
                    "type": "POST",
                    "datatype": "JSON"
                },
                "columnDefs":
                [{
                    "targets": [0],
                    "visible": true,
                    "searchable": true,
                    "className": "SelectedAllCheckbox",
                    "checkboxes":
                    {
                        "selectRow": true,
                        "selectAllPages": false
                    },
                }],
                "select":
                {
                    "style": "multi",
                    "selector": "td:first-child"
                },
                "order": [[1, "asc"]],
                "columns":
                [
                    {
                        "targets": 0,
                        "data": null,
                        "className": "SelectedAllCheckbox",
                        "searchable": false,
                        "orderable": false,
                        "autoWidth": false,
                        "render": function (data, row, type, full, meta) {
                            return '<input type="checkbox" class="SelectedAllCheckbox" name="HeaderAllCheckbox" id="HeaderAllCheckbox" ClientIDMode="Static" value="' + data.id + '" onclick=GetById("' + data.id + '")>';
                            ////return "<input type='checkbox class='SelectedAllCheckbox' name='HeaderAllCheckbox' id='HeaderAllCheckbox' ClientIDMode='Static' onclick=GetById('" + data.id + "')";
                        },
                    },
                    {
                        "data": "id",
                        "name": "id",
                        "autoWidth": true, "target": 1, "visible": true, "searchable": true, "orderable": true
                    },
                    {
                        "data": "kodeTransaksi",
                        "name": "kodeTransaksi",
                        "autoWidth": true, "target": 2, "visible": true, "searchable": true, "orderable": true
                    },
                    {
                        "data": "kodePemesan",
                        "name": "kodePemesan",
                        "autoWidth": true, "target": 3, "visible": true, "searchable": true, "orderable": true
                    },
                    {
                        "data": "namaPemesan",
                        "name": "namaPemesan",
                        "autoWidth": true, "target": 4, "visible": true, "searchable": true, "orderable": true
                    },
                    {
                        "data": "jenisPesanan",
                        "name": "jenisPesanan",
                        "autoWidth": true, "target": 5, "visible": true, "searchable": true, "orderable": true
                    },
                    {
                        "data": "kodeMenu",
                        "name": "kodeMenu",
                        "autoWidth": true, "target": 6, "visible": true, "searchable": true, "orderable": true
                    },
                    {
                        "data": "namaMenu",
                        "name": "namaMenu",
                        "autoWidth": true, "target": 7, "visible": true, "searchable": true, "orderable": true
                    },
                    {
                        "data": "jumlahPesanan",
                        "name": "jumlahPesanan",
                        "autoWidth": true, "target": 8, "visible": true, "searchable": true, "orderable": true
                    },
                    {
                        "data": "hargaSatuan",
                        "name": "hargaSatuan",
                        "autoWidth": true, "target": 9, "visible": true, "searchable": true, "orderable": true
                    },
                    {
                        "data": null,
                        "name": null,
                        "autoWidth": true, "target": 10, "visible": true, "searchable": false, "orderable": false, "render": function (data, row, type, full, meta) {
                                return "<a href='#PopUpDetailItemPesanan' data-toggle='modal' data-target='#PopUpDetailItemPesanan' id='ButtonGetById' ClientIDMode='Static' class='css-button-custome_details' onclick='GetDetailPesananById(\"" + data.kodePemesan + "\",\"" + data.namaPemesan + "\",\"" + data.jenisPesanan + "\",\"" + data.kodeMenu + "\",\"" + data.namaMenu + "\",\"" + data.jumlahPesanan + "\",\"" + data.hargaSatuan + "\");'><span class='css-button-custome_details-icon'><i class='fa fa-eye'></i></span><span class='css-button-custome_details-text'><span>Details</span></span></a>";
                        }
                    }
                ]
            });

            /*Benar------------------------------------------*/
            $('#HeaderAllCheckbox').click(function (e) {
                if ($(this).hasClass('SelectedAllCheckbox')) {
                    $('input').prop('checked', false);
                    $(this).removeClass('SelectedAllCheckbox');
                }
                else {
                    $('input').prop('checked', true);
                    $(this).addClass('SelectedAllCheckbox');
                }
            });
            /*----------------------------------------------*/
        });


        function GetDetailPesananById(kodePemesan, namaPemesan, jenisPesanan, kodeMenu, namaMenu, jumlahPesanan, hargaSatuan) {
            /*------------------------------------------------------------------------*/

            //alert("Menu yang anda pilih adalah Id nomor : " + id);
            console.log("KodePemesan : " + kodePemesan, "NamaPemesan : " + namaPemesan, "Jenis Pesanan : " + jenisPesanan,  "KodeMenu : " + kodeMenu, "NamaMenu : " + namaMenu, "JumlahPesanan : " + jumlahPesanan, "Rp. " + hargaSatuan);
            $("#PopUpDetailItemPesanan").modal('show')
            //$("#PopUp_TextboxId").val(id);
            $("#PopUp_TextboxKodePemesan").val(kodePemesan);
            $("#PopUp_TextboxNamaPemesan").val(namaPemesan);
            $("#PopUp_TextboxJenisPesanan").val(jenisPesanan);
            $("#PopUp_TextboxKodeMenu").val(kodeMenu);
            $("#PopUp_TextboxNamaMenu").val(namaMenu);
            $("#PopUp_TextboxJumlahPesanan").val(jumlahPesanan);
            $("#PopUp_TextboxHargaSatuan").val(hargaSatuan);

            /*------------------------------------------------------------------------*/
        }


        //function GetById(id) {
        //    alert("Menu yang anda pilih adalah Id nomor : " + id);
        //    console.log(id);
        //}


        function DeleteData(id) {
            if (confirm("Are you sure you want to delete ...?")) {
                Delete(id);
                console.log(id);
            }
            else {
                return false;
            }
        }


        function Delete(id) {
            var url = "/MasterPesanan/DeleteData";
            $.post(url, { ID: id }, function (data) {
                if (data) {
                    oTable = $('#DataTablesPesanan').DataTable();
                    oTable.draw();
                }
                else {
                    alert("Something Went Wrong!");
                }
            });
        }

        function ClosePopUpModal() {
            $("#PopUpDetailItemPesanan").modal('hide')
        }
    </script>
}